
@import 'part/variables';
@import 'high/utils';
@import 'high/grid';


@plain-white: #FFF;
@basic-black: #333;
@light-black: #555;
@basic-gray: #777;
@light-gray: #DFDFDF;
@phiary: #1483CD;

@body-background: @plain-white;

@body-text: @basic-black;

@active-link: @light-black;
@active-link-alt: @phiary;
@hover-link: @phiary;
@visited-link: @basic-black;
@border-color: @light-black;

// Basic

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

a, a:visited {
  text-decoration: none;
  color: @active-link;
  outline: 0;
  transition: color  0.2s ease-in;
}

a {
  &:visited {
    color: @visited-link;
  }

  &:hover, &:focus {
    color: @hover-link;
  }
}


#header {
  margin-top: 4rem;
  margin-bottom: 6rem;

  .container {
    h1 {
      float: left;
      font-size: 2rem;
    }
    p {
      float: left;
      margin-top: 0.3rem;
      margin-left: 1.5rem;
      padding-left: 1.5rem;
      line-height: 2rem;
      border-left: solid 1px hsla(0, 0%, 33%, 0.5);
      font-size: 0.75rem;
    }
  }
}


#footer {
  border-top: 0.1rem dotted hsl(0, 0%, 33%);
  margin: 7.5rem 0 3rem;
  padding: 0.65rem 0 0;
}

.articles {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  h2 {
    margin-bottom: 0.5rem;
  }
  .meta {
    font-size: 0.75em;
    color: hsl(0, 0%, 47%);
  }
}

article.post {
  h2.title {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: none;
    font-weight: bold;
  }
  h2 {
    font-size: 1.4rem;
    border-bottom: dotted 0.075em hsl(0, 0%, 33%);
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    /*padding-bottom: 0.5rem;*/
    font-weight: bold;
  }
  p {
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.4rem;
  }

  ol, ul {
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    li {
      margin: 0.4em 0;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    width: 100%;
  }

  blockquote {
    /*margin: 1.75em 0 1.75em -2.2em;*/
    margin: 1.75em 0 1.75em 0em;
    background-color: hsl(220, 80%, 97%);
    padding: 0 0 0 1.75em;
    border-left: hsl(0, 0%, 29%) 0.4em solid;
    font-style: italic;
  }

  pre {
    font-size: 0.75em;
    margin-bottom: 1.5em;
    overflow: auto;

    code {
      padding: 10px;
      display: block;
      background-color: hsl(0, 0%, 90%)
    }
  }
}
