.small {
  font-size: 0.8rem;
}
.medium {
  font-size: 1rem;
}
.large {
  font-size: 2rem;
}
.pad-s {
  padding: 1rem;
}
.pad-m {
  padding: 2rem;
}
.pad-l {
  padding: 4rem;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
}
.shadow {
  box-shadow: 0px 0px 4px 0px #aaa;
}
/*
// skeleton
@mobile: 400px;
@phablet: 550px;
@tablet: 750px;
@desktop: 1000px;
@desktop-hd: 1200px;
*/
.media:after {
  content: 'mobile(default)';
}
/*
@media @mobile {
  .media:after { content: 'mobile'; }
}
*/
@media only screen and (min-width : 750px) {
  .media:after {
    content: 'tablet';
  }
}
@media only screen and (min-width : 1200px) {
  .media:after {
    content: 'desktop';
  }
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width : 550px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width : 750px) {
  .container {
    width: 70%;
  }
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.row .col {
  float: left;
  box-sizing: border-box;
}
.row .col.s1 {
  width: 8.33333333%;
}
.row .col.s2 {
  width: 16.66666667%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.33333333%;
}
.row .col.s5 {
  width: 41.66666667%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.33333333%;
}
.row .col.s8 {
  width: 66.66666667%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.33333333%;
}
.row .col.s11 {
  width: 91.66666667%;
}
.row .col.s12 {
  width: 100%;
}
@media only screen and (min-width : 750px) {
  .row .col.m1 {
    width: 8.33333333%;
  }
  .row .col.m2 {
    width: 16.66666667%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.33333333%;
  }
  .row .col.m5 {
    width: 41.66666667%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.33333333%;
  }
  .row .col.m8 {
    width: 66.66666667%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.33333333%;
  }
  .row .col.m11 {
    width: 91.66666667%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media only screen and (min-width : 1200px) {
  .row .col.l1 {
    width: 8.33333333%;
  }
  .row .col.l2 {
    width: 16.66666667%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.33333333%;
  }
  .row .col.l5 {
    width: 41.66666667%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58.33333333%;
  }
  .row .col.l8 {
    width: 66.66666667%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83.33333333%;
  }
  .row .col.l11 {
    width: 91.66666667%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
  color: #555;
  outline: 0;
  transition: color 0.2s ease-in;
}
a:visited {
  color: #333;
}
a:hover,
a:focus {
  color: #1483CD;
}
.container {
  max-width: 900px;
}
#header {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
#header .container h1 {
  float: left;
  font-size: 2rem;
}
#header .container p {
  float: left;
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  line-height: 2rem;
  border-left: solid 1px rgba(84, 84, 84, 0.5);
  font-size: 0.75rem;
}
#header .share {
  line-height: 2rem;
  margin-top: 1rem;
  text-align: right;
}
#header .share .btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 0.9rem;
  box-shadow: 0px 0px 2px #888;
  border-radius: 100%;
  margin-right: 0.25rem;
}
@media only screen and (min-width : 750px) {
  #header .share {
    margin-top: 0rem;
  }
}
#footer {
  border-top: 0.1rem dotted #545454;
  margin: 7.5rem 0 3rem;
  padding: 0.65rem 0 0;
}
#footer ul {
  text-align: right;
}
#footer ul li {
  display: inline-block;
  margin-right: 1rem;
}
#footer ul li a {
  font-size: 0.9rem;
}
.articles {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.articles h2 {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.articles .meta {
  font-size: 0.75em;
  color: #787878;
  line-height: 1.5rem;
}
.articles .meta a {
  color: #00c3e6;
}
.articles .meta .author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 0.5rem;
  border-radius: 100%;
}
.articles .meta .post-date {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: #d4dadd 1px solid;
}
article.post {
  font-size: 0.9rem;
  color: #333333;
}
article.post header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
article.post header h2 {
  margin-bottom: 0rem;
  font-size: 1.7rem;
  line-height: 2rem;
  border-bottom: none;
  font-weight: bold;
}
article.post header .meta {
  font-size: 0.75em;
  color: #787878;
  line-height: 1.5rem;
}
article.post header .meta a {
  color: #00c3e6;
}
article.post header .meta .author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 0.5rem;
  border-radius: 100%;
}
article.post header .meta .post-date {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: #d4dadd 1px solid;
}
article.post h2 {
  font-size: 1.4rem;
  border-bottom: dotted 0.075em #545454;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
article.post h3 {
  font-size: 1.1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  /*padding-bottom: 0.5rem;*/
  font-weight: bold;
}
article.post p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.6rem;
}
article.post a {
  color: #00c3e6;
  text-decoration: underline;
}
article.post ol,
article.post ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}
article.post ol li,
article.post ul li {
  margin: 0.6em 0;
}
article.post ul {
  list-style-type: disc;
}
article.post ol {
  list-style-type: decimal;
}
article.post img {
  max-width: 100%;
}
article.post blockquote {
  /*margin: 1.75em 0 1.75em -2.2em;*/
  margin: 1.75em 0 1.75em 0em;
  background-color: #f1f5fd;
  padding: 0 0 0 1.75em;
  border-left: #4a4a4a 0.4em solid;
  font-style: italic;
}
article.post pre {
  margin-bottom: 1.5rem;
  overflow: auto;
  box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.5);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85rem;
}
article.post pre code {
  padding: 10px;
}
article.post table {
  margin: 1rem 0px;
  border: 1px solid #cccccc;
  width: 100%;
}
article.post table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
}
article.post table tr:nth-child(2n) {
  background-color: #f7f7f7;
}
article.post table tr td,
article.post table tr th {
  padding: 1rem;
  border: 1px solid #cccccc;
}
article.post table tr th {
  font-weight: bold;
}
.pagination {
  margin: 4rem auto;
  position: relative;
  font-size: 0.9rem;
  text-align: center;
}
.pagination .page-number {
  min-width: 100%;
}
.pagination .newer-posts {
  position: absolute;
  left: 0px;
}
.pagination .older-posts {
  position: absolute;
  right: 0px;
}
.read-next {
  margin: 4rem auto;
}
.read-next h2 {
  width: 100%;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.read-next .prev {
  text-align: right;
}
