.small {
  font-size: 0.8rem;
}
.medium {
  font-size: 1rem;
}
.large {
  font-size: 2rem;
}
.pad-s {
  padding: 1rem;
}
.pad-m {
  padding: 2rem;
}
.pad-l {
  padding: 4rem;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
}
.shadow {
  box-shadow: 0px 0px 4px 0px #aaa;
}
/*
// skeleton
@mobile: 400px;
@phablet: 550px;
@tablet: 750px;
@desktop: 1000px;
@desktop-hd: 1200px;
*/
/*
 *
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0px auto;
  max-width: 1280px;
  width: 90%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.row .col {
  float: left;
  box-sizing: border-box;
}
.row .col.s1 {
  width: 8.33333333%;
}
.row .col.s2 {
  width: 16.66666667%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.33333333%;
}
.row .col.s5 {
  width: 41.66666667%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.33333333%;
}
.row .col.s8 {
  width: 66.66666667%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.33333333%;
}
.row .col.s11 {
  width: 91.66666667%;
}
.row .col.s12 {
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 993px) {
  .row .col.m1 {
    width: 8.33333333%;
  }
  .row .col.m2 {
    width: 16.66666667%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.33333333%;
  }
  .row .col.m5 {
    width: 41.66666667%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.33333333%;
  }
  .row .col.m8 {
    width: 66.66666667%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.33333333%;
  }
  .row .col.m11 {
    width: 91.66666667%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media only screen and (min-width : 993px) {
  .row .col.l1 {
    width: 8.33333333%;
  }
  .row .col.l2 {
    width: 16.66666667%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.33333333%;
  }
  .row .col.l5 {
    width: 41.66666667%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58.33333333%;
  }
  .row .col.l8 {
    width: 66.66666667%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83.33333333%;
  }
  .row .col.l11 {
    width: 91.66666667%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
.btn-circle {
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 4px 0px #aaa;
}
.btn-circle img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fadein {
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  opacity: 1.0 !important;
}
.fadeout {
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  opacity: 0 !important;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
  color: #555;
  outline: 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:visited {
  color: #333;
}
a:hover,
a:focus {
  color: #1483CD;
}
.container {
  max-width: 900px;
}
body {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#header {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
#header .container .title {
  text-align: left;
}
@media only screen and (max-width : 600px) {
  #header .container .title {
    text-align: center;
  }
}
#header .container .title > * {
  display: inline-block;
  line-height: 2rem;
}
#header .container .title h1 {
  font-size: 2rem;
}
#header .container .title p {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: solid 1px rgba(84, 84, 84, 0.5);
  font-size: 0.75rem;
}
#header .share {
  line-height: 2rem;
  text-align: right;
}
#header .share .btn-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 0.9rem;
  margin-right: 0.25rem;
}
@media only screen and (max-width : 600px) {
  #header .share {
    text-align: center;
    margin-top: 1rem;
  }
}
#footer {
  border-top: 0.1rem dotted #545454;
  margin: 7.5rem 0 3rem;
  padding: 0.65rem 0 0;
}
#footer ul {
  text-align: right;
}
#footer ul li {
  display: inline-block;
  margin-right: 1rem;
}
#footer ul li a {
  font-size: 0.9rem;
}
.content {
  opacity: 0.01;
}
/*
 *
 */
.main {
  position: absolute;
  left: 18rem;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
}
.side {
  position: fixed;
  z-index: 1;
  width: 18rem;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  transition: 350ms;
  background-color: #ddd;
  background: url('../img/bg2.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #f7f7f7;
}
.side .cover {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 0px 4px 0px #808080;
}
.side .cover .profile {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.side .cover .profile h1 {
  margin: 2rem;
  font-size: 2rem;
}
.side .cover .profile img {
  width: 40%;
  padding: 1px;
  border: 2px solid rgba(234, 97, 83, 0.1);
  border-radius: 50%;
  box-shadow: 0px 0px 9px 0px #ababab, 0px 0px 9px 0px #ababab;
}
.side .cover .profile p {
  margin: 1rem 2rem;
}
@media only screen and (min-width: 600px) and (max-width: 993px) {
  .main {
    left: 0rem;
  }
  .side {
    -webkit-transform: translate3d(-18rem, 0, 0);
    -moz-transform: translate3d(-18rem, 0, 0);
    transform: translate3d(-18rem, 0, 0);
  }
}
@media only screen and (max-width : 600px) {
  .main {
    left: 0rem;
  }
  .side {
    -webkit-transform: translate3d(-18rem, 0, 0);
    -moz-transform: translate3d(-18rem, 0, 0);
    transform: translate3d(-18rem, 0, 0);
  }
}
.articles {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.articles h2 {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.articles .meta {
  font-size: 0.75em;
  color: #787878;
  line-height: 1.5rem;
}
.articles .meta a {
  color: #00c3e6;
}
.articles .meta .author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 0.5rem;
  border-radius: 100%;
}
.articles .meta .post-date {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: #d4dadd 1px solid;
}
article.post {
  font-size: 0.9rem;
  color: #333333;
  word-wrap: break-word;
}
article.post header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
article.post header h2 {
  margin-bottom: 0rem;
  font-size: 1.7rem;
  line-height: 2rem;
  border-bottom: none;
  font-weight: bold;
}
article.post header .meta {
  font-size: 0.75em;
  color: #787878;
  line-height: 1.5rem;
}
article.post header .meta a {
  color: #00c3e6;
}
article.post header .meta .author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 0.5rem;
  border-radius: 100%;
}
article.post header .meta .post-date {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: #d4dadd 1px solid;
}
article.post .share {
  line-height: 2rem;
  margin-top: 1rem;
  text-align: center;
}
article.post .share .btn-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 0.9rem;
  margin-right: 0.25rem;
  text-decoration: none;
}
article.post h2 {
  font-size: 1.4rem;
  border-bottom: dotted 0.075em #545454;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
article.post h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  /*padding-bottom: 0.5rem;*/
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
}
article.post p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.6rem;
}
article.post p code {
  border: #d8e0e4 1px solid;
  background-color: #f6f8f9;
  color: #cd2356;
  padding: 0.2rem 0.3rem 0.1rem;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85rem;
  word-wrap: initial;
}
article.post a {
  color: #00c3e6;
  text-decoration: underline;
}
article.post ol,
article.post ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}
article.post ol li,
article.post ul li {
  margin: 0.6em 0;
}
article.post ul {
  list-style-type: disc;
}
article.post ol {
  list-style-type: decimal;
}
article.post img {
  max-width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
article.post iframe {
  max-width: 100%;
  margin-bottom: 1.0rem;
}
article.post b,
article.post strong {
  font-weight: bold;
}
article.post blockquote {
  margin: 1.75em 0 1.75em 0em;
  background-color: #f1f5fd;
  padding: 0.5rem 1rem;
  border-left: #4a4a4a 0.4em solid;
  font-style: italic;
}
article.post pre {
  margin-bottom: 1.5rem;
  overflow: auto;
  box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.5);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85rem;
}
article.post pre code {
  padding: 10px;
  line-height: 1.1rem;
}
article.post table {
  margin: 1rem 0px;
  border: 1px solid #cccccc;
  width: 100%;
}
article.post table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
}
article.post table tr:nth-child(2n) {
  background-color: #f7f7f7;
}
article.post table tr td,
article.post table tr th {
  padding: 1rem;
  border: 1px solid #cccccc;
}
article.post table tr th {
  font-weight: bold;
}
.pagination {
  margin: 4rem auto;
  position: relative;
  font-size: 0.9rem;
  text-align: center;
}
.pagination .page-number {
  min-width: 100%;
}
.pagination .newer-posts {
  position: absolute;
  left: 0px;
}
.pagination .older-posts {
  position: absolute;
  right: 0px;
}
.read-next {
  margin: 4rem auto;
}
.read-next h2 {
  width: 100%;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.read-next .prev {
  text-align: right;
}
